* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/img_02.jpg') no-repeat center / cover;
    clip-path: circle(100px at center center);
}

.container {
    position: relative;
    margin-top: 200;
    background-color: #eee;
    padding: 100px 30px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.container p {
    padding: 20px 0;
    line-height: 1.8;
}