* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; color: inherit; }

body {
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #79a6d2, #b8d6eb);
    color: white;
}

.temp {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.degree {
    font-size: 40px;

}