.header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.gnb {
    display: flex;
    gap: 20px;
}

.gnb a {
    display: block;
    padding: 20px;
}

.gnb li.on a {
    color: orangered;
    font-weight: bold;
}

p {
    height: 500px;
    background-color: #ddd;
    text-align: center;
    padding: 50px;
}

